---
published: false
---

Validation : did we build the right system?
Verification: did we build the system right?